
<br>
<br>
<div class="container">

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <header class="card-header">
          <a [routerLink]="['/login']" class="float-right btn btn-outline-primary mt-1">Log in</a>
          <h4 class="card-title mt-2">Sign up</h4>
        </header>
        <article class="card-body" style="background-color: #20a7d8">
          <form [formGroup]="registrationForm" (ngSubmit)="submitRegistrationForm()">

            <div class="form-row">
              <div class="col form-group">
                <label>First name<span style=" color: #ff0000"> *</span></label>
                <input type="text" formControlName="firstName" class="form-control" placeholder="First name" required="required"
                       [ngClass]="{'is-invalid':registrationForm.get('firstName').touched &&registrationForm.get('firstName').invalid}">
                <div class="invalid-feedback">
                  <div>First name is required</div>
                </div>
              </div> <!-- form-group end.// -->
              <div class="col form-group">
                <label>Last name<span style=" color: #ff0000"> *</span></label>
                <input type="text" formControlName="lastName" class="form-control" placeholder="Last name" required="required"
                       [ngClass]="{'is-invalid':registrationForm.get('lastName').touched &&registrationForm.get('lastName').invalid}">
                <div class="invalid-feedback">
                  <div>Last name is required</div>
                </div>
              </div> <!-- form-group end.// -->
            </div> <!-- form-row end.// -->

            <div class="form-group">
              <label>Email address<span style=" color: #ff0000"> *</span></label>
              <input type="email" formControlName="email" class="form-control" placeholder="Email" required="required"
                     pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                     [ngClass]="{'is-invalid':registrationForm.get('email').touched &&registrationForm.get('email').invalid}">
              <div class="invalid-feedback">
                <div>Email name is required</div>
              </div>
            </div> <!-- form-group end.// -->

            <div class="form-group">
              <label>Password<span style=" color: #ff0000"> *</span></label>
              <input type="password" formControlName="password" class="form-control" placeholder="Password" required="required"
                     [ngClass]="{'is-invalid':registrationForm.get('password').touched &&registrationForm.get('password').invalid}">
              <div class="invalid-feedback">
                <div>Password name is required</div>
              </div>
            </div>

            <div class="form-group">
              <label>Mobile Number<span style=" color: #ff0000"> *</span></label>
              <input type="number" formControlName="mobile" class="form-control" onKeyPress="if(this.value.length===10) return false;"
                     min="1" minlength="10" pattern="^[0][1-9]\d{9}$|^[1-9]\d{9}$|^[1-9]\d{11}" placeholder="Please Enter 10 Digit Mobile No." inputmode="numeric"
                     digitonly [ngClass]="{'is-invalid': registrationForm.get('mobile').touched && registrationForm.get('mobile').invalid}">
              <div class="invalid-feedback">
                <div>Valid Mobile Number is required</div>
              </div>
            </div>

            <div class="form-group">
              <label>Address<span style=" color: #ff0000"> *</span></label>
              <input type="text" formControlName="address" class="form-control" placeholder="Address" required="required"
                     [ngClass]="{'is-invalid':registrationForm.get('address').touched &&registrationForm.get('address').invalid}">
              <div class="invalid-feedback">
                <div>Address is required</div>
              </div>
            </div> <!-- form-group end.// -->

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Register</button>
            </div> <!-- form-group// -->

            <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of
              use and Privacy Policy.</small>

          </form>
        </article> <!-- card-body end .// -->
        <div class="border-top card-body text-center">Have an account? <a [routerLink]="['/login']">Log In</a></div>
      </div> <!-- card.// -->
    </div> <!-- col.//-->

  </div> <!-- row.//-->
</div>
<!--container end.//-->
<app-success-modal (hideModal)="modalSuccess($event)" #successModal></app-success-modal>
<app-success-modal #errorModal></app-success-modal>

